{% extends 'main/layout.html' %}
{% load static %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Welcome to Books</h1>
      <p>A simple book management application.</p>
      <ul>
        <li>Create your own library</li>
        <li>Manage your books</li>
        <li>Set book and reading status</li>
        <li>Search by book title, authors, publishers and genres</li>
        <li>Make books available for donation or loan</li>
      </ul>
    </div>
  </div>
</div>

{% endblock main %}
